@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Nunito:wght@700&family=PT+Serif&family=Playfair+Display&family=Poltawski+Nowy:wght@600&family=Poppins:wght@400;500;600&display=swap');

:root {
  --orange: #ff7800;
  --black: #130f40;
  --light-color: #666;
  --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  --border: .2rem solid rgba(0, 0, 0, .1);
  --outline: .1rem solid rgba(0, 0, 0, .1);
  --outline0g: .1rem solid rgba(0, 0, 0, .1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: #fff;

  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10%;

}


/*creat header home......................all Headers */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5%;
  background: #fff;
  box-shadow: var(--box-shadow);
  height: 60px;
}

.header .logo {
  font-size: 1rem;
  font-weight: bolder;
  color: var(--black);
}

.header .logo i {
  color: var(--orange);
}

.header .navbar a {
  font-size: 1rem;
  margin: 0 1rem;
  color: var(--black);
  text-decoration: none;
  font-weight: 200;
  margin-left: 40px;
}

.header .navbar a:hover {
  color: var(--orange);
}

.header .navbar a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: var(--orange);
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}

.header .navbar a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.header .btn {

  display: inline-block;
  padding: .4rem 2rem;
  font-size: 1rem;
  border-radius: .4rem;
  border: .2rem solid var(--black);
  color: var(--black);
  cursor: pointer;
  background: none;
}

.header .btn:hover {
  background: var(--orange);
  color: #fff;
}

/*creat header home......................all Headers ends*/


/*form start.........................................*/
.container {
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #ddd;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin-top: 10%;
}

.container header {
  font-size: 1.5rem;
  color: var(--orange);
  font-weight: 500;
  text-align: center;
}

.container .form {
  margin-top: 30px;
}

.form .input-box {
  width: 100%;
  margin-top: 20px;
}

.input-box label {
  color: #333;
}

.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid var(--orange);
  border-radius: 6px;
  padding: 0 15px;
}

.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.input-box .icon {

  font-size: 1.2em;
  color: #162938;

}


.form .column {
  display: flex;
  column-gap: 15px;
}

.form .gender-box {
  margin-top: 20px;
}

.gender-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 10px;
}

.gender-box h3 i {
  font-size: 1.5em;
  color: #162938;
}

.form :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 70px;
  flex-wrap: wrap;
}

.form .gender {
  column-gap: 5px;
}

.gender input {
  accent-color: var(--orange);
}

.form :where(.gender input, .gender label) {
  cursor: pointer;
}

.gender label {
  color: var(--black);
}

.address :where(input, .select-box) {
  margin-top: 12px;
}

.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}


.form .btn {
  height: 60px;
  width: 100%;
  margin-top: 30px;
  border: none;
  cursor: pointer;

  display: inline-block;
  padding: .10rem 3rem;
  font-size: 1.7rem;
  border-radius: .5rem;
  border: .2rem solid var(--black);
  color: var(--black);
  cursor: pointer;
  background: none;
}

.form .btn:hover {
  background: var(--orange);
  color: #fff;
}


/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }

  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}

/*form end .........................*/